* {
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    box-sizing: border-box;
    /* background-image: url(./images/logo2.png); */
}

body {

    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: linear-gradient(grey, lightskyblue); */
    /* background-color: #222222; */
    /* background-image: url(https://images.pexels.com/photos/15062131/pexels-photo-15062131.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load); */
    /* background-image: url(./images/dutch-shooter-kqQm0r2uugs-unsplash.jpg); */
}

.header {
padding: 0px 20px;
position: fixed;
top: 0;
left: 0;
width: 100%;
/* padding: 20px 100px; */
background: rgba(22 22 23 / 80%);
backdrop-filter: blur(15px);

z-index: 999;
}
.header::before {
padding: 0px 20px;
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: linear-gradient(
90deg,
transparent,
rgba(255, 255, 255, 0.3),
transparent
);
}
.navbar-brand {
    color: #dbdbdb;
    /* text-shadow:2px 1px rgb(159, 158, 158) ; */
    text-decoration: none;
    font-size: 2em;
    font-weight: 900;
    font-family: "bebas", " sans-serif";
  }
  .navbar-brand:hover{
  color:rgb(51, 51, 51);
  transition: all .8s;
  }
.navbar-toggler {
/* color: black; */
background-color: rgba(148, 141, 141, 0.181);
}
.nav-link {
position: relative;
/* display: flex; */
justify-content: center;
align-items: center;
text-decoration: none;
font-size: 1.2rem;
padding: 1rem;
color: #fff;
font-weight: bold;
transition: 0.3s;
}
.nav-link:hover {
color: rgba(63, 34, 34, 0.432);
}
.nav-btn {
font-size: large;
height: 3rem;
width: 9.5rem;
background-color: transparent;
border-radius: 30px;
color: #fff;
font-weight: bolder;
text-shadow: 0px 4px 5px gray;
transition: all 0.5s;
}
.nav-btn:hover {
background-color: rgba(0, 0, 0, 0.12);
}
.account{
    height: 2em;
    width: 2em;
    text-decoration: none;
    color: #fff;
  }
  .add-card{
    margin-left:10px ;
    height: 1.6em;
    width: 1.6em;
    text-decoration: none;
    color: #fff;
  }
/* TOP WORK ENDS HERE */
/* ================ */
/* ================ */

.top-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 150px;
}
.top-first {
    margin-right: 20px;
}
.top-first h1{
    font-size: 2em;
    text-align: center;
}
.top-first ul{
    margin-right:20px ;
}
.top-first ul li{
    list-style: none;
    font-size: .8em;
    /* float: right; */
}
.top-first ul li a{
    text-decoration: none;
    color: #333;
    text-align: right;
}
@media (max-width:1590px) {
    .top-image{
        margin-top: 140px;
        flex-wrap: wrap-reverse;
    }
    .top-first{
        background: #eeeeee;
        margin-top: 50px;
        width: 100%;
        margin-left: 14px;
    }
    .top-first h1{
        margin-top: 50px;
        text-align: center;
    }
}
/* ==================== */


.mms{
    /* height: 800px; */
    display: flex;
    flex-wrap: wrap;
    margin-top:40px ;
}
.mms .mma img{
    width: 160px;
    height: 400px;
}
.mmm{
    padding-left: 20px ;
}
.mmm  .First{
    text-align: center;
}
.mmm  .First .second h4{
    font-size: 1.2em;
    margin-top: 10px;
}
.mmm .First img{
    height: 300px;
    width: 300px;
}
@media (max-width:1590px) {
    /* .mma{
        margin:0px auto ;
    }
    .mma img{
        margin-bottom: 50px;
    } */
    .mmm{
    flex-direction: column;
    margin: 0px auto;
    padding: 0;
 } 
 .mmm .First img{
    height: 350px;
    width: 350px;
}  
}
/* =============== */
